@model IEnumerable<MvcMusic.Models.Band>

@{
    ViewBag.Title = "Zespoły";
}

<h2>Zespoły</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table">

@foreach (var item in Model) {
    <tr>
        <td>
            <img src="@Html.DisplayFor(modelItem => item.Image)" alt="" style="border-radius: 6px; height: 10em;" />
        </td>
        <td>
            <h2>@Html.DisplayFor(modelItem => item.Name)</h2>            
        </td>
        <td>
            <h3>
            Debiut: @Html.DisplayFor(modelItem => item.Debiut)<br/>
            
            @if (!Html.DisplayFor(modelItem => item.End).ToString().Equals("0"))
            {
                @:Koniec kariery: @Html.DisplayFor(modelItem => item.End)
            }
            </h3>
        </td>
        <td>
            <a href="http://asp.net" class="btn btn-primary btn-lg">Zobacz &raquo;</a>
        </td>
    </tr>
}

</table>
